.home-container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    min-width: 95vw;
    align-items: center;
    justify-content: start;
    padding-top: 15%;

    .nav{
        display: flex;
        font-size: 3rem;
        font-weight: 200;
        padding-bottom: 1.5rem;

        span{
            font-weight: 500;
        }
    }
}