.ongoin{
    .checkbox{
        background-color: none;
        border: 1px solid;
        border-radius: 5px;
    }
}

.completed{
    .checkbox{
        background-color: rgba(128, 128, 128, 0.50);
        border: 1px solid rgba(128, 128, 128, 0.50);
        border-radius: 5px;
    }

    .task-name{
        font-size: 1.1rem;
        font-weight: 500;
        text-decoration: line-through;
        color: grey;
    }
}